$laala: #8c67ef;

@use "bulma/sass/utilities/initial-variables" with (
  $gap: 150px
);

@use "bulma/sass/utilities/derived-variables" with (
  $primary: $laala,
  $link: $laala,
);

@forward "bulma/bulma";
